{% extends 'base_login.html' %}

{% block content %}
<div class="row">
    <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
        <div class="card card-plain bg-secondary">
            <div class="card-header bg-primary pb-0 text-white">
                <h4 class="font-weight-bolder text-white text-center">SUMA ADMIN</h4>
                <p class="text-center text-white">SIGN IN HERE</p>
            </div>
            <div class="card-body">
                <form role="form">
                    <input type="email" class="form-control form-control-lg mb-2" placeholder="Email" aria-label="Email">
                    <input type="email" class="form-control form-control-lg mb-2" placeholder="Password" aria-label="Password">
                    <div class="text-center">
                        <button type="button" class="btn btn-lg btn-primary btn-lg w-100 mt-1 mb-0">SIGN IN</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
