{% extends 'base_login.html' %}

{% block content %}
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url={% url 'home' %}">
{% else %}
    <div class="row mt-5">
        <div class="col-lg-4 col-md-8 col-12 mx-auto">
            <div class="card z-index-0 fadeIn3 fadeInBottom">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-dark border-radius-lg py-3 pe-1">
                        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">LOGIN</h4>
                    </div>
                </div>
                <div class="card-body">
                    <form role="form" class="text-start" action="{{ act }}" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <div class="text-center">
                            <button type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2">{{ btn }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
