{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <title>
        Argon Dashboard 2 by Creative Tim
    </title>
    <link href="{% static 'css/jquery.toast.css' %}" rel="stylesheet" />
    <link href="{% static 'css/nucleo-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'css/nucleo-svg.css' %}" rel="stylesheet" />
    <link href="{% static 'scss/modal.scss' %}" rel="stylesheet" />

    <script src="{% static 'js/42d5adcbca.js' %}" crossorigin="anonymous"></script>
    <link id="pagestyle" href="{% static 'css/argon-dashboard.css' %}" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.toast.js' %}"></script>
</head>

<body class="bg-dark">
    <div class="container position-sticky z-index-sticky top-0">
        <div class="row">
            <div class="col-12">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4">
                    <div class="container-fluid">
                        <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="../pages/dashboard.html">
                            SUMA MEN SALON
                        </a>
                        <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon mt-2">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </span>
                        </button>
                        {% if user.is_authenticated %}
                            <div class="collapse navbar-collapse" id="navigation">
                            <ul class="navbar-nav" style="margin-left: auto; margin-right: 0;">
                                <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{% url 'home' %}">
                                        <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                                        Dashboard
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-2" href="{% url 'user' %}">
                                        <i class="fa fa-user opacity-6 text-dark me-1"></i>
                                        User
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-2" href="#">
                                        <i class="fa fa-bar-chart opacity-6 text-dark me-1"></i>
                                        Cashier
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link me-2" href="{% url 'logout' %}">
                                        <i class="fa fa-sign-out opacity-6 text-dark me-1"></i>
                                        Sign Out
                                    </a>
                                </li>
                            </ul>
                            <!-- <ul class="navbar-nav d-lg-block d-none">
                                <li class="nav-item">
                                    <a href="#" class="btn btn-sm mb-0 me-1 btn-primary">Cashier</a>
                                </li>
                            </ul> -->
                        </div>
                        {% endif %}
                    </div>
                </nav>
                <!-- End Navbar -->
            </div>
        </div>
    </div>
    <main class="main-content mt-7">
        <section>
            <div class="page-header">
                <div class="container">

                    <script type="text/javascript">
                    function toast_act(heading, text, status, time=5000) {
                        $.toast({
                            heading: heading,
                            text: text,
                            showHideTransition: 'slide',
                            position: 'bottom-center',
                            icon: status,
                            hideAfter: time
                        })
                    }
                    </script>

                    {% if status %}
                    <script type="text/javascript">
                        toast_act( '{{heading}}', '{{text}}', '{{status}}',  '{{time}}' )
                    </script>
                    {% endif %}

                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </section>
    </main>
    <script src="{% static 'js/core/popper.min.js' %}"></script>
    <script src="{% static 'js/core/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/plugins/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'js/plugins/smooth-scrollbar.min.js' %}"></script>
    <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
            damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
    </script>
    <script async defer src="{% static 'js/buttons.js' %}"></script>

    <script src="{% static 'js/argon-dashboard.min.js' %}"></script>
</body>

</html>
